@font-face {
    font-family: "Outfit";
    src: url("./assets/Outfit-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

button {
    outline: none;
    border: 0;
    appearance: none !important;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

button:disabled {
    opacity: 0.7;
}

body {
    background: linear-gradient(to bottom right, #434343, #000000);
    min-height: 100vh;
}
